# Get your private key from MetaMask:
PRIVATE_KEY=

# BSC Testnet RPC (already configured)
BSC_TESTNET_RPC_URL=https://bnb-testnet.g.alchemy.com/v2/X0jmTgXNd3kEEQHnRwCSRZCtjUmEIYIW

# Optional: For contract verification
BSCSCAN_API_KEY=IJ81UYS7IK2C4F2XMN4KQ9HYNZFEEENM51

DEPLOYER_ADDRESS=0x99DaBE97d110B9339bC7E74392D1f74cE3f7F02c
KYC_REGISTRY_ADDRESS=0x7a9C49C5A1DEE1E783c8eF5cce92a49807D2Acbe
ASSET_NFT_ADDRESS=0xad6eD2CbBFB45Da005111356Fe280d10a7044371
ASSET_TOKEN_ADDRESS=0x3DC23E01d7B7555970823274054047E521290C23
