.section {
  padding: 2rem;
}

.section_header,
.data_container {
  display: grid;
  grid-template-columns:
    180px
    180px
    180px
    180px
    180px
    180px
    180px
    180px;
  align-items: center;
  column-gap: 22px;
}

.section_header {
  font-weight: 600;
  padding: 10px 16px;
  border-bottom: 3px solid #242936;
}

.data_container {
  padding: 14px 16px;
  border-bottom: 1px solid #242936;
  background: transparent;
}
.data_container:hover {
  background: rgba(255, 255, 255, 0.031);
}

.address_info {
  display: flex;
  color: rgb(93, 93, 235);
  text-decoration: underline;
}

.address_info:hover {
  cursor: pointer;
  color: rgb(123, 123, 255);
}

.pagination {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.page_btn,
.page_num {
  background: #2f3b8f;
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  cursor: pointer;
}

.page_btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.page_num.active {
  outline: 2px solid rgb(66, 66, 66);
  font-weight: 600;
}

.input_container {
  padding: 0.6rem 1rem;
  border-radius: 8px;
  color: #ffffff;
  margin-bottom: 2rem;
  background-color: rgb(42, 42, 42);
  width: 400px;
  height: 40px;
  border: 1px solid transparent;
}

.input_container::placeholder {
  color: #b0b0b0;
  opacity: 1;
  padding-left: 4px;
}

.input_container:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.05);
  color: #ffffff;
}

.hint {
  font-size: 0.9rem;
  color: #888888;
  padding-left: 4rem;
}

.input_section {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.input_error {
  border-color: #ff4d4f !important;
}
